*/dist/
*/build/
*/nbproject/private/
*/doc/html/
*/doc/latex/
/NetBeans/*/dist/
/NetBeans/*/build/
/NetBeans/*/nbproject/private/
/NetBeans/*/doc/html/
/NetBeans/*/doc/latex/
/NetBeans/*/doc/markdown/
/NetBeans/Alumnos/*/dist/
/NetBeans/Alumnos/*/build/
/NetBeans/Alumnos/*/nbproject/private/
/NetBeans/Alumnos/*/doc/html/
/NetBeans/Alumnos/*/doc/latex/
/NetBeans/Alumnos/*/doc/markdown/
/Tex/*/*.aux
/Tex/*/*.log
/Tex/*/*.out
/Tex/*/*.toc
/Tex/*/*.gz
