*/nbproject/private
*/dist/*
*/build/*

/NetBeansProjects/ValgrindShowcase/build/
/NetBeansProjects/ValgrindShowcase/dist/
/NetBeansProjects/HelloWorld/build/
/NetBeansProjects/HelloWorld/dist/
/NetBeansProjects/MPGeometry_TDD/build/
/NetBeansProjects/MPGeometry_TDD/dist/
